{% extends '../base.html' %}

{% block title %}Home{% endblock %}

{% block contents %}

    <div>
    {% for room in rooms %}
        <h3>{{ room.name }}</h3>
    {% endfor %}
    </div>

    <h5>Page {{ page }} in {{ page_count }}</h5>

    <div>
        {% if page is not 1 %}
            <a href="?page={{ page|add:-1 }}">Previous</a>
        {% endif %}
        {% for num in page_range %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endfor %}
        {% if not page == page_count %}
            <a href="?page={{ page|add:1 }}">Next</a>
        {% endif %}
    </div>

{% endblock %}