{% extends '../base.html' %}

{% block title %}Home{% endblock %}

{% block contents %}

    <div>
        {% for room in rooms.object_list %}
            <h3>{{ room.name }}</h3>
        {% endfor %}
    </div>

    <h5>
        {% if rooms.has_previous %}
            <a href="?page={{ rooms.number|add:-1 }}">Previous</a>
        {% endif %}

        Page {{ rooms.number }} in {{ rooms.paginator.num_pages }}

        {% if rooms.has_next %}
            <a href="?page={{ rooms.number|add:1 }}">Next</a>
        {% endif %}
    </h5>

{% endblock %}