{% extends '../base.html' %}

{% block title %}Home{% endblock %}

{% block contents %}

    <div>
        {% for room in object_list %}
            <h3>{{ room.name }}</h3>
        {% endfor %}
    </div>

    <h5>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        Page {{ page_obj.number }} in {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </h5>

{% endblock %}