{% extends '../base.html' %}

{% block title %}Room Search{% endblock %}

{% block search-bar %}
{% endblock search-bar %}

{% block contents %}

    <h2>Search!</h2>

    <form action="{% url 'rooms:search' %}" method="get">
        {{ form.as_p }}
        <button>Search</button>
    </form>

    <h3>Result</h3>

    {% for room in rooms %}
        <h3>{{ room.name }}</h3>
    {% endfor %}

    <h3>Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}</h3>

    {% if rooms.has_previous %}
        <a href="{% url 'rooms:search' %}?{{ query_string }}&page={{ rooms.previous_page_number }}"><h4>Previous</h4></a>
    {% endif %}



    {% if rooms.has_next %}
        <a href="{% url 'rooms:search' %}?{{ query_string }}&page={{ rooms.next_page_number }}"><h4>Next</h4></a>
    {% endif %}

{% endblock %}