{% extends '../base.html' %}

{% block title %}Room Search{% endblock %}

{% block search-bar %}
{% endblock search-bar %}

{% block contents %}

    <h2>Search!</h2>

    <form action="{% url 'rooms:search' %}" method="get">
        <div>
            <label for="city">City</label>
            <input id="city" name="city" type="text" placeholder="Search by City" value="{{ city }}">
        </div>
        <div>
            <label for="country">Country</label>
            <select name="country" id="country">
                {% for country in countries %}
                    <option value="{{ country.code }}" {% if country.code == s_country %} selected {% endif %}>{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="room_type">Room Type</label>
            <select name="room_type" id="room_type">
                <option value="0" {% if s_room_type == 0 %} selected {% endif %}>Any kind</option>
                {% for room_type in room_types %}
                    <option value="{{ room_type.pk }}" {% if s_room_type == room_type.pk %} selected {% endif %}>{{ room_type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="price">Price</label>
            <input id="price" name="price" type="number" placeholder="Price" value="{{ price }}">
        </div>
        <div>
            <label for="guests">Guests</label>
            <input id="guests" name="guests" type="number" placeholder="Guests" value="{{ guests }}">
        </div>
        <div>
            <label for="bedrooms">Bedrooms</label>
            <input id="bedrooms" name="bedrooms" type="number" placeholder="Bedrooms" value="{{ bedrooms }}">
        </div>
        <div>
            <label for="beds">Beds</label>
            <input id="beds" name="beds" type="number" placeholder="Beds" value="{{ beds }}">
        </div>
        <div>
            <label for="baths">Baths</label>
            <input id="baths" name="baths" type="number" placeholder="Baths" value="{{ baths }}">
        </div>
        <div>
            <label for="instant">Intant Book Only?</label>
            <input id="instant" name="instant" type="checkbox" {% if instant %} checked {% endif %}>
        </div>
        <div>
            <label for="is_superhost">By Superhost Only?</label>
            <input id="is_superhost" name="is_superhost" type="checkbox" {% if is_superhost %} checked {% endif %}>
        </div>
        <div>
            <h3>Amenities</h3>
            <ul>
                {% for amenity in amenities %}
                    <li>
                        <label for="a_{{amenity.pk}}">{{ amenity.name }}</label>
                        <input type="checkbox" id="a_{{amenity.pk}}" name="amenities" value="{{ amenity.pk }}"
                            {% if amenity.pk|slugify in s_amenities %} checked {% endif %}
                        >
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Facilities</h3>
            <ul>
                {% for facility in facilities %}
                    <li>
                        <label for="f_{{facility.pk}}">{{ facility.name }}</label>
                        <input type="checkbox" id="f_{{facility.pk}}" name="facilities" value="{{ facility.pk }}"
                            {% if facility.pk|slugify in s_facilities %} checked {% endif %}
                        >
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button>Search</button>
    </form>

    <h3>Result</h3>

    {% for room in rooms %}
        <h3>{{ room.name }}</h3>
    {% endfor %}

{% endblock %}